
.grid-container {
    display: grid;
    grid-template-columns: 300px 450px 400px;
  }
  .grid-item {
    background-color: #1f1f1f;
    min-width: 200px;
    width: 100%;
    height: auto; /* Adjust based on your chart type */
    font-size: 30px;
    text-align: center;
  }
.center{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

label{
  
  color: white;
}
.date-container{

  justify-content: center;
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 10px;
}

.date-container2{

  display: grid;
  grid-template-rows: 30px 30px;
  justify-content: center;
}


.date-Item{
  background-color: #1f1f1f;
  border-color: #1f1f1f;
  color: aliceblue;
  font-size: 15px;
  height: 20px;
}
